page-home {
  .weather-img {
    max-width: 100px;
    min-height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button-refresh {
    font-size: 1.6em !important;
  }
}
